body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
div {
    margin: 0;
}
.body-container {
    width: 100%;
    max-width: 1000px;
    min-width: 332px;
    margin: auto;
}
.work-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.work-item {
    width: 100%;
    max-width: 300px;
    display: inline-block;
    margin-left: 41px;
    margin-bottom: 1.5em;
    float: left;
}

.work-item:first-of-type {
    margin-left: 0px;
}

header {
    padding-bottom: .05em;
    margin-bottom: 2em;
    border-bottom: solid 5px;
    border-color: #7d97ad;
}
.left {
    float: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

h1, h3, h4 {
    color: #2d3c49;
}

h1 {
    font-size: 3.7em;
    font-weight: 100;
    margin: 0 4px 0 0;
    font-family: 'Roboto Mono', sans-serif;
    font-style: normal;
}

h2 {
    color: #7d97ad;
    font-size: 2em;
    margin-left: .35em;
    font-weight: 400;
}

h3 {
    font-size: 2em;
    margin: .2em;
    font-weight: 400;
    color:  #2d3c49;
}

h4 {
    color: #2d3c49;
}
a {
    text-decoration: none;
    color: #2d3c49;
    font-size: 80%;
}

.dumb-icon {
    width: 60px;
    margin-top: 1.2em;
    margin-left: .5em;
}

.subtitle {
    margin: 0 4px 1em 0;
    font-size: 1.3em;
    font-family: 'Roboto Mono', sans-serif;
}

.upcase {
    text-transform: uppercase;
}

#profile-pic {
    width: 100%;
}

.feat-work-img {
    max-width: 100%;
    border: solid 1px #fafafa;
}

.work-link {
    display: block;
}
